* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #E1E1E1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    margin-top: 6vh;
    font-size: 5vw;
    line-height: 5vw;
}
h2 {
    font-size: 4vw;
}
img {
    display: block;
}
p {
    font-size: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
}

#navBar {
    background-color: #2E8955;
    color: #E1E1E1;
    height: calc(12vh);
    margin-bottom: 0px;
    text-align: center;
}
#home {
    background-color: #2E8955;
    color: #E1E1E1;
    height: calc(58vh);
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
}
#aboutme {
    color: #2E8955;
    margin-top: 2vh;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
}
#games {
    color: #2E8955;
    margin-top: 2vh;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;

}
#projects {
    color: #2E8955;
    margin-top: 2vh;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;

}
#slimer {
    color: #2E8955;
    height: calc(30vh);
    margin-top: 3vh;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
    font-weight: bold;
}
#about_me {
    background-color: #2E8955;
    height: calc(10vh);
}
#games_ {
    background-color: #2E8955;
    height: calc(10vh);
}
#projects_ {
    background-color: #2E8955;
    padding-top: 1.5vh;
    line-height: 2vh;
    height: calc(10vh);
    color: #E1E1E1;
    text-align: center;
}
#slimeAttack {
    outline: none;
    outline: none;
    box-shadow: none;
}
#slimeAttack:hover {
    filter: brightness(.8);
}
#footer {
    background-color: #2E8955;
    color: #E1E1E1;
    text-align: center;
    margin-top: 5vh;
    padding-top: .5vh;
    height: 35vh;
}
.link {
    color: inherit;
    margin-right: 4vw;
}
#homeLink {
    display: none;
    color: inherit;
    margin-right: 3vw;
}
.selfLink {
    color: #DFEB82;
    margin-right: 4vw;
    font-weight: bolder;
}
.ingameh {
    display: inline;
    color: inherit;
    margin-right: 3vw;
}
.ingamen {
    display: inline;
    margin-left: 10vw;
    color: #DFEB82;
}
.ingameb {
    background-color: #2E8955;
    color: #E1E1E1;
    height: calc(12vh);
    margin-bottom: 0px;
    text-align: left;
}
.link:hover,
.selfLink:hover,
#resume:hover {
    filter: brightness(.75);
}
.main {
    margin-top: 0px;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    color: #2E8955;
    text-decoration: none;
}
.image {
    margin-left: auto;
    margin-right: auto;
}
.skillgrid {
    background-color: #2E8955;
    color: #e1e1e1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5vmin;
    padding-right: 5vmin;
    padding-bottom: 5vh;
    grid-gap: 3vmin;
}
.skillblock {
    background-color: #E1E1E1;
    color: #2E8955;
    border: solid 2px #c6c4c4;
}
.skillgridtop {
    grid-column: 1/5;
    padding-top: 4vh;
}
.skillTop {
    font-size: 3vw;
    text-decoration: underline;
    margin-left: 0;
    margin-right: 0;
}
.skill {
    margin: 1vh;
    margin-left: 0;
    margin-right: 0;
}
.projectgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2vh;
    grid-gap: 5vmin;
}
.projectimg {
    display: inline-block;
    width: 29vw;
    border-radius: 15px;
    margin-right: 1vw;
    margin-left: 1vw;
}
.project {
    background-color: #e1e1e1;
    border: 0;
    outline: none;
    box-shadow: none;
}
.projectimg:hover {
    filter: brightness(65%); 
    cursor: pointer;
}
.modal {
    background-color: #000000;
    background-color: rgba(0,0,0,.7);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modalcont {
    background-color: #E1E1E1;
    color: #2E8955;
    margin: 5% auto;
    padding: 20px;
    border: 3px solid #2E8955;
    width: 80%;
}
.close {
    color: #2E8955;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modalgrid1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 20vw;
    margin: 0 auto;
}
.modalgrid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vw;
    width: 40vw;
    margin: 0 auto;
}
.modalgrid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    width: 60vw;
    margin: 0 auto;
}
.modallink {
    background-color: #2E8955;
    color: #DFEB82;
    border-radius: 10px;
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    font-size: 2vw;
    text-decoration: none;
}
#gamelink {
    color: inherit;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
}
.gamegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2vmin;
    grid-gap: -2vw;
}
.gridunit {
    background-color: #C6C4C4;
    border: solid 2px #2E8955;
    height: 130px;
    width: calc(31vw);
    padding-top: 3vh;
}
.gridunit:hover {
    filter: brightness(.75);
}
.gameinfo {
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 2vw;
    text-align: left;
    padding-left: 30vmin;
    padding-right: 30vmin;
}
.gametext {
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-right: 0;
    margin-bottom: 0;
}
#second {
    text-indent: 30px;
}
#gamedis {
    background-color: #2E8955;
}
.contactgrid {
    background-color: #2E8955;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 30%;
}
.contactbtn {
    background-color: #2E8955;
    outline: none;
    box-shadow: none;
    border: none;
}
.contactimg {
    border: solid 2px #E1E1E1;
    border-radius: 50%;
    display: inline-block;
    margin-top: 4vh;
    margin-left: 1vh;
    margin-right: 1vh;
    width: 4vw;
}
.contactimg:hover {
    filter: brightness(.7);
    cursor: pointer;
}
#contmodalcont {
    margin: 20% auto;
}

#start {
    font-size: 5vw;
    margin-bottom: 4vh;
}
#special {
    color: #DFEB82;
}
#aah {
    font-size: 3vw;
}
#beh {
    font-size: 1.9vw;
    padding-left: 11vw;
    padding-right: 11vw;
}
#ceh {
    font-size: 1.9vw;
    padding-left: 13vw;
    padding-right: 13vw;
}
#deh {
    font-size: 2vw;
    line-height: 3vw;
    margin-bottom: 6vh;
}
#eeh {
    margin-bottom: 0;
    font-size: 1.7vw;
    line-height: 2vw;
}
#effy {
    font-size: 1vw;
    margin-bottom: 0;
}
#links {
    margin-bottom: 7vh;
    margin-left: 2vw;
    line-height: 13vh;
    font-size: 3vw;
}
#jumpSlime {
    width: 7vw;
    image-rendering: pixelated;
}
#slimeDead {
    width:7vw;
    image-rendering: pixelated;
    display: none;
}
#slimeAttack {
    background-color: inherit;
    border: 0;
    cursor: url(images/swordCursor.png), auto;
}
#gameimage {
    height: 5vw;
    image-rendering: pixelated;
}
#navName {
    display: none;
    margin-left: 10vw;
    color: #DFEB82;
}
#resume {
    color: #DFEB82;
    vertical-align: middle;
    text-decoration: none;
}
#downloads {
    margin: auto;
    width: 5vmin;
    image-rendering: pixelated;
    display: inline-block;
}
#homelinks {
    font-size: 3vw;
    margin-bottom: 7vh;
}