* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #E1E1E1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    margin-top: 6vh;
    font-size: 5vw;
    line-height: 5vw;
}
img {
    display: block;
}
p {
    font-size: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
}

#navBar {
    background-color: #2E8955;
    color: #E1E1E1;
    height: calc(10vh);
    margin-bottom: 0px;
}
#home {
    background-color: #2E8955;
    color: #E1E1E1;
    height: calc(70vh);
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
}
#aboutme {
    color: #2E9855;
    margin-top: 2vh;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
}
#games {
    color: #2E9855;
    margin-top: 2vh;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;

}
#projects {
    color: #2E9855;
    margin-top: 2vh;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;

}
#slimer {
    color: #2e9855;
    height: calc(30vh);
    margin-top: 3vh;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
    font-weight: bold;
}
.link {
    color: inherit;
    margin-right: 4vw;
}
.homelink {
    color: inherit;
    margin-right: 3vw;
}
.selfLink {
    color: #DFEB82;
    margin-right: 4vw;
    font-weight: bolder;
}
.main {
    margin-top: 0px;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
    color: #2E8955;
    text-decoration: none;
}
.image {
    margin-left: auto;
    margin-right: auto;
}
.skillgrid {
    background-color: #2E8955;
    color: #e1e1e1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 12vmin;
    padding-right: 12vmin;
    grid-gap: 2vmin;
}
.skillblock {
    background-color: #E1E1E1;
    color: #2E8955;
    border: solid 2px #c6c4c4;
}
.skillTop {
    font-size: 4vw;
    text-decoration: underline;
}
.skill {
    margin: 1vh;
}
#gamelink {
    color: inherit;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
}
.gamegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2vmin;
    grid-gap: -2vw;
}
.gridunit {
    background-color: #C6C4C4;
    border: solid 2px #2E8955;
    height: 130px;
    width: calc(31vw);
    padding-top: 3vh;
}
.gameinfo {
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 2vw;
    text-align: left;
    padding-left: 30vmin;
    padding-right: 30vmin;
}
.meinfo {
    font-size: 2vw;
    line-height: 5vh;
    padding-left: 19vw;
    padding-right: 19vw;
    text-align: left;
}
.collapsible {
    background-color: #2E8955;
    color: #E1E1E1;
    cursor: pointer;
    padding: 1vw;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vw;
    font-family: inherit;
    margin-bottom: 1vh;
}
.colmain {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 5vw;
    padding-top: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 3vh;
    color: #E1E1E1;
    overflow: hidden;
    background-color: #39A869;
    font-size: 2vw;
    line-height: 5vh;
    text-align: left;
    display: none;
}

#start {
    font-size: 5vw;
    margin-bottom: 4vh;
}
#special {
    color: #DFEB82;
}
#aah {
    font-size: 3vw;
}
#beh {
    font-size: 1.9vw;
    padding-left: 11vw;
    padding-right: 11vw;
}
#ceh {
    font-size: 1.9vw;
    padding-left: 13vw;
    padding-right: 13vw;
}
#deh {
    font-size: 2vw;
    line-height: 3vw;
    margin-bottom: 6vh;
}
#effy {
    font-size: 1vw;
    margin-bottom: 0;
}
#links {
    margin-bottom: 7vh;
    margin-left: 2vw;
    line-height: 13vh;
    font-size: 3vw;
}
#eeh {
    margin-bottom: 0;
    font-size: 1.7vw;
    line-height: 2vw;
}
#jumpSlime {
    width: 7vw;
    image-rendering: pixelated;
}
#slimeDead {
    width:7vw;
    image-rendering: pixelated;
    display: none;
}
#slimeAttack {
    background-color: inherit;
    border: 0;
    cursor: url(images/swordCursor.png), auto;
}
#gameimage {
    width: 5vw;
    image-rendering: pixelated;
}
#navName {
    margin-left: 10vw;
}
#resume {
    color: #DFEB82;
    vertical-align: middle;
    text-decoration: none;
}
#downloads {
    margin: auto;
    width: 5vmin;
    image-rendering: pixelated;
    display: inline-block;
}
#homelinks {
    font-size: 3vw;
/*    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 15vw;
    padding-right: 15vw;*/
    margin-bottom: 7vh;
}
#dropdown {
    width: 3vmin;
    margin-left: 55vw;
    image-rendering: pixelated;
    display: inline-block;
    text-align: right;
}
#dropdown2 {
    width: 3vmin;
    margin-left: 55vw;
    image-rendering: pixelated;
    display: none;
    text-align: right;
}